#Search {
  display: inline-block !important;
  margin: 0 auto;
  border: solid 1px !important;
  border-radius: 10px !important;
  padding-left: 5px !important;
  font-size: 150% !important;
  width: 60% !important;
  height: 2em !important;
}
button {
  display: inline-block !important;
  margin-left: 5px !important;
  margin-bottom: 10px !important;
}

#Advance-Search {
  display: block;
  font-size: 30px !important;
  color: black;
}

#content {
  min-height: 40em;
}
#LocationTypeSelect {
  width: 50% !important;
}

#rating {
  background: transparent;
  border: none;
  width: 0.5em;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}
.star {
  color: #70ccb1;
}
